<%- include("header") -%>

  <div class="box" id="heading">
    <h1>Application settings</h1>
  </div>

  <div class="box">

    <p class="item">Choose durations of visits (multiple choices are possible):</p>
    <form class="" action="/appsettings" method="post">

      <% for (i=0; i<possibleDurations.text.length; i++) { %>
        <div class="item">
          <input type="checkbox" name="dur<%= i %>" value=true <% if (possibleDurations.use[i]) { %>checked<% } %>>
          <p for="dur<%= i %>"><%= possibleDurations.text[i] %></p>
        </div>
      <% } %>

      <br>

      <table>
        <tr>
          <th></th>
          <% for (var i=0; i<headings.length; i++) { %>
              <th><%= headings[i] %></th>
            <% } %>
        </tr>
        <tr>
          <td>Open</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <td>
                <input type="checkbox" name="working<%= i %>" value="yes" <% if (workingHours.working[i]) { %>checked<% } %>>
              </td>
            <% } %>
        </tr>
        <tr>
          <td>from</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <td>
                <select class="cell middle" name="open<%= i %>">
                  <% for (var j=0; j<workingTime.length-2; j++) { %>
                    <option class="cell" value="<%= workingTime[j] %>" <% if (workingHours.open[i]==workingTime[j]) { %>selected<% } %>><%= workingTime[j] %></option>
                  <% } %>
                </select>
              </td>
            <% } %>
        </tr>
        <tr>
          <td>to</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <td>
                <select class="cell middle" name="close<%= i %>">
                  <% for (var j=2; j<workingTime.length; j++) { %>
                    <option class="cell" value="<%= workingTime[j] %>" <% if (workingHours.close[i]==workingTime[j]) { %>selected<% } %>><%= workingTime[j] %></option>
                  <% } %>
                </select>
              </td>
            <% } %>
        </tr>
        <tr>
          <td>Break</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <th>
                <input type="checkbox" name="break<%= i %>" value="yes" <% if (workingHours.break[i]) { %>checked<% } %>>
              </th>
            <% } %>
        </tr>
        <tr>
          <td>from</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <td>
                <select class="cell" name="from<%= i %>">
                  <% for (var j=1; j<workingTime.length-2; j++) { %>
                    <option class="cell" value="<%= workingTime[j] %>" <% if (workingHours.from[i]==workingTime[j]) { %>selected<% } %>><%= workingTime[j] %></option>
                  <% } %>
                </select>
              </td>
            <% } %>
        </tr>
        <tr>
          <td>to</td>
          <% for (var i=0; i<headings.length; i++) { %>
              <td>
                <select class="cell" name="to<%= i %>">
                  <% for (var j=2; j<workingTime.length-1; j++) { %>
                    <option class="cell" value="<%= workingTime[j] %>" <% if (workingHours.to[i]==workingTime[j]) { %>selected<% } %>><%= workingTime[j] %></option>
                  <% } %>
                </select>
              </td>
            <% } %>
        </tr>
      </table>

      <br>

      <div class="item">
        <input type="checkbox" name="generate" value=true <% if (generateAppointments) { %>checked<% } %>>
        <p for="generate">Generate Appointments</p>
      </div>
      <div class="item">
        <p>Note: in case that working times can't be covered with choosen durations of visits, the rest will become new appointment with remaining time.</p>
      </div>

      <br>
      <button type="submit" name="">Submit</button>
      <br>
      <br>
    </form>


  </div>


<%- include("footer") -%>
