<%- include("partials/header") -%>

  <div class="box" id="heading">
    <h1>Appointments on <%= oneDayData.dateTxt %></h1>
  </div>

  <div class="box">

    <form class="" action="/appointments" method="post">

      <table>
        <tr>
          <th>Time</th>
          <th>Duration</th>
          <th>Client</th>
          <th>App.no.</th>
          <th>Action</th>
        </tr>

        <% for (i=0; i<oneDayData.appointments.length; i++) { %>
          <tr>
            <td>
              <p class=""><%= oneDayData.appointments[i].startTxt %> - <%= oneDayData.appointments[i].endTxt %></p>
            </td>
            <td>
              <p class=""><%= oneDayData.appointments[i].durationTxt %></p>
            </td>
            <td>
              <p class=""><%= oneDayData.appointments[i].persnoNo %></p>
            </td>
            <td>
              <p class=""><%= oneDayData.appointments[i].no %></p>
            </td>
            <td>
              <% if (oneDayData.appointments[i].no > 0) { %>
                <button type="submit" name="delete" value="<%= oneDayData.appointments[i].no %>">Delete</button>
              <% } else { %>
                <button type="submit" name="add" value="<%= oneDayData.appointments[i].start %>">Add</button>
              <% } %>
            </td>
          </tr>
        <% } %>

      </table>

    </form>

  </div>


<%- include("partials/footer") -%>
